.nav-list {
  display: flex;

  margin: 0;
  padding: 0;
  list-style: none;
  gap: 1rem;
}

.nav-list li {
  flex-wrap: wrap;
}

.colom {
  display: flex;

  gap: 1rem;
}

.colom > * {
  flex: 1;
}

.column2 {
  display: flex;
  gap: 1rem;
}

.column2 > * {
  flex: 1;
}

@media only screen and (max-width: 1000px) {
  .colom,
  .column2 {
    flex-direction: column;
  };

  .column2 > * {
    justify-content: space-evenly;
  }
}
