/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Roboto Mono', monospace; */

body {
  font-family: 'Roboto Mono', sans-serif, Arial;
}

button.homepage-view-button:hover {
  background-color: rgb(128, 211, 211);
}



a {
  text-decoration: none;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

nav {
  margin-bottom: 6rem;
}