.nav-list {
  display: flex;
  list-style: none;
  gap: 1rem;
  align-items: center;
  flex-direction: column;
  padding-left: 0;
}

.columns {
  display: flex;

  flex-direction: column;
}

.columns,
.nav-list {
  flex-shrink: 1;
  flex-basis: 100%;
}

p.greeting-paragraph {
  font-weight: 100;
}

button.homepage-view-button {
  border: none;
  background-color: aqua;
  font-size: 16px;
  font-weight: bold;
  width: 150px;
  border-radius: 7.5px;
  cursor: pointer;
}

.navbar-title {
  font-weight: 700;
  cursor: pointer;
}

.navbar-project {
  cursor: pointer;
}

.instagram-link {
  cursor: pointer;
}

.about-myself-info {
  cursor: pointer;
}

.contact-info {
  cursor: pointer;
}